.bar-container {
	display: block;
	position: relative;
	width: 100%;
	background-color: #A4A3A8;
	/*background-color: #59586C;*/
	margin-top: 2%;
}
.bar-fill {
	display: block;
	position: relative;
	/*background-color: #9B9BD2;*/
	background-color: #6C6CB3;
	padding: 3%;
	height: inherit;
}
.label {
	background-color: #6C6CB3;
	position: absolute;
	top:0%;
	left: 0%;
	height: 100%;
	padding-left: 2%;
	padding-right: 2%;
	/*vertical-align: 500%;*/
}
.label-text {
	position: relative;
	display: block;
	top: 20%;
}
.percentage {
	position: absolute;
	right: 0%;
	top: 20%;
}

@media screen and (max-width: 600px) and (min-width: 400px){
	.bar-fill {
		padding-top: 5%;
		padding-bottom: 5%;
	}
}

@media screen and (max-width: 400px) {
	.bar-fill {
		padding-top: 8%;
		padding-bottom: 8%;
	}
}