/*All Screens*/
h2 {
	text-align: center;
}
#aboutContainer {
	height: 500px;
	width: 100%;
	position: relative;
	left: 5%;
}
#skillLabel {
	text-align: left;
	font-size: 16pt;
}

div p a {
	margin:	0px;
}

/*Large Screens only*/
@media screen and (min-width: 1000px) {
	#spiel {
		display: inline-block;
		margin-left: 4%;
		position: relative;
		text-align: left;
		width: 33%;
		font-size: 1.25em;
	}
	#skills {
		display: inline-block;
		/*position: relative;*/
		position: absolute;
		/*left: 48%;*/
		margin-left: 15%;
		width: 30%;
		font-weight: bold;
	}
	#logo {
		width: 30%;
		border-radius: 3%;
		position: relative;
	}
}

/*Small screens only*/
@media screen and (max-width: 1000px) {
	#aboutContainer {
		left: 0px;
	}
	#spiel {
		display: block;
		position: relative;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 5%;
		text-align: left;
		font-size: 15pt;
	}
	#logo {
		width: 80%;
		border-radius: 3%;
		position: relative;
	}
	#skills {
		display: block;
		position: relative;
		width: 70%;
		font-weight: bold;
		/*border: 2px solid white;*/
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	#skillLabel {
		font-size: 1.25em;
	}
}
