<div id="aboutContainer">
	<article class="article">
		<div class="article-column">
			<h1 class="h1">
				Ryan
				<br>
				Emberling
			</h1>
			<img src="../../assets/ryan_emberling_illustrated_portrait.png" alt="Illustrated portrait of Ryan Emberling, bearded, smiling, with wavy brown hair" class="about-img">
		</div>
		<div class="article-column">
			<p>
				I lead teams, make software, and mentor technical professionals.
			</p>
			<p>
				I'm Currently the Director of Engineering at the ASSISTments Foundation, an Ed-Tech nonprofit, and I'm the creator and lead maintainer of the open source card battler cuttle.cards
			</p>
		</div>
	</article>
</div>
