<div id="aboutContainer">
	<div id="spiel">
		<!-- <h3 id="spielLabel">Me</h3> -->
		<img id="logo" src="./assets/RyanTattoo_v03.jpg">
		<p>I'm a Carnegie Mellon student in the Masters in Educational Technology and Learning Science (METALS) program. I've been programming and designing websites for 4 years. I'm passionate about education, computer science, mathematics, philosophy and music! <a routerLink="/contact">Want to build something?</a> </p>
	</div>
		
	<!-- Skill list -->
	<div id="skills">
		<h3 id="skillLabel">Skills</h3>
		<app-skillbar [skill]="'HTML'" [width]="'90%'"></app-skillbar>
		<app-skillbar [skill]="'CSS'" [width]="'60%'"></app-skillbar>
		<app-skillbar [skill]="'Javascript'" [width]="'90%'"></app-skillbar>
		<app-skillbar [skill]="'node.js'" [width]="'80%'"></app-skillbar>
		<app-skillbar [skill]="'sails.js'" [width]="'85%'"></app-skillbar>	
		<app-skillbar [skill]="'angular'" [width]="'70%'"></app-skillbar>
	</div>
</div>
