<div id="cuttleMLContainer">
<app-picture-and-explanation 
	title="CuttleML" 
	img="cuttle ml"
	link="https://github.com/Human-AI-Interaction/cuttle-machine-learning"
	caption="Click image for source code"
	smallScreenCaption="For source code"
	text="How can machine learning be used to improve the decision making of educational AI in imperfect-information contexts?"
	text2="CuttleML is an ongoing project to make a better teaching agent by generating simulated data and analyzing it with statistics and machine learning."
	></app-picture-and-explanation>
</div>
