<div id="proofCrafterContainer">
	<app-picture-and-explanation 
	title="Proof Crafter" 
	img="proof crafter"
	link="https://drive.google.com/drive/folders/1YlHQQygXZlFj5tEa0sKg3_Sa9-xwud-V?usp=sharing"
	caption="Click the image to view a downloadable version of the game"
	text="How might we help learners perceive math as beautiful, creative, and gratifying? Proof Crafter is an exploratory game that teaches players the fundamentals of set theory with a novel visual approach to writing proofs."
	text2="Players learn by doing, weaving together arguments as though they were wires and circuitry. The mechanics and sequencing blend together in a smooth tutorial that introduces beginners to the basics of sets and proofs as compelling puzzles."
	></app-picture-and-explanation>

	<app-picture-and-explanation></app-picture-and-explanation>
</div>