#contactContainer {
	margin-left: 2%;
	text-align: center;
}
h3 {
	font-size: 2em;
}
p {
	font-size: 1.25em;
	display: block;
	position: relative;
	text-align: left;
	width: 45%;
	left: 27.5%;
}
a {
	margin-right: 2%;
}

/*Small Screens only*/
@media screen and (max-width: 600px) {
	#contactContainer {
		margin-left: 0px;
	}
	p {
		font-size: 1.25em;
		width: 80%;
		left: 10%;
	}
}