<div id="contactContainer">
	<h3>Want to get in touch?</h3>
	<p>Looking to build, upgrade, or maintain an educational tool? Need expertise in Learning Science or full-stack web development? Interested in the cutting-edge Intelligent Tutoring Systems developed at Carnegie Mellon? Simply want to pontificate about the nature of life, love, or learning? Hit me up! I'm available for work.</p>
	<a href="/assets/Emberling Resume.pdf" target="_blank">My Resume</a>
	<a href="https://github.com/itsalaidbacklife" target="_blank">My github</a>
	<!-- <a href="https://github.com/TeasingSisyphus" target="_blank">My github organization</a> -->
	<br>
	<a href="mailto: ryan.emberling@gmail.com">Email: ryan.emberling@gmail.com</a>
</div>
