

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1536082822401-0 {top: 40px; left: 40px; height: 100px; width: 440px;
        }
/*        .silex-id-1536084915451-2 {top: 180px; left: 110px; height: 20px; width: 200px;
        }
*/        .silex-id-1536084943830-3 {height: 1.4em; width: 100px;
        }
/*        .silex-id-1536085053943-5 {top: 220px; left: 110px; height: 20px; width: 180px;
        }
*/        .silex-id-1536085111627-6 {top: 220px; left: 330px; height: 1.4em; width: 100px;
        }
/*        .silex-id-1536085227766-8 {top: 260px; left: 110px; height: 20px; width: 180px;
        }
*/        .silex-id-1536085377743-9 {top: 260px; left: 330px; height: 1.4em; width: 100px;
        }
/*        .silex-id-1536085428524-10 {top: 300px; left: 110px; height: 20px; width: 180px;
        }
*/        .silex-id-1536085476313-11 {top: 300px; left: 330px; height: 1.4em; width: 100px;
        }
        .silex-id-1536599647173-8 {top: 80px; left: 173px; height: 20px; width: 67px;
        }
        .silex-id-1536599686489-10 {top: 70px; left: 253px; height: 2em; width: 100px;
        }
        .silex-id-1536600069062-12 {top: 70px; left: 453px; height: 30px; width: 67px;
        }
        .silex-id-1536600504452-15 {top: 140px; left: 13px; height: 40px; width: 187px;
        }
        .silex-id-1536600580937-16 {top: 150px; left: 213px; height: 30px; width: 167px;
        }
        .silex-id-1536600651952-17 {top: 140px; left: 393px; height: 2em; width: 107px;
        }
        .silex-id-1536599777312-11 {top: 80px; left: 373px; height: 1.4em; width: 67px;
        }
        .silex-id-1536599391332-7 {top: 70px; left: 13px; height: 36px; width: 145px;
        }
        .silex-id-1536600123142-13 {top: 70px; left: 540px; height: 30px; width: 241px;
        }
        .silex-id-1536600761803-18 {top: 150px; left: 510px; height: 1.4em; width: 100px;
        }
        .silex-id-1536600895391-19 {top: 378px; left: 259px; height: 31px; width: 155px;
        }
        .silex-id-1536601003786-20 {top: 205px; left: 199px; height: 23px; width: 62px;
        }
        .silex-id-1536601050642-21 {top: 199px; left: 286px; height: 30px; width: 217px;
        }
        .silex-id-1536601270440-22 {top: 203px; left: 530px; height: 1.4em; width: 100px;
        }
        .silex-id-1536601323233-23 {top: 378px; left: 890px; height: 2em; width: 100px;
        }
        .silex-id-1536601678808-24 {top: 100px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1536601876674-25 {top: 120px; left: 120px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1536602107857-26 {top: 140px; left: 140px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1536602198484-27 {top: 160px; left: 160px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1536599311589-6 {top: 10px; left: 293px; height: 40px; width: 181px;
        }
        .silex-id-1536598507737-5 {top: 180px; left: 240px; height: 240px; width: 820px; background-color: rgb(255, 255, 255);
        }
        .silex-id-1536620143892-28 {top: 44px; left: 953px; height: 141px; width: 228px;
        }
        .silex-id-1536620173437-29 {top: 29px; left: 56px; height: 30px; width: 60px;
        }
        .silex-id-1536620193541-30 {top: 75px; left: 61px; height: 35px; width: 80px;
        }

#weight_in_pounds_expansion {
        visibility: hidden;
}