

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1535654390495-0 {top: 380px; left: 120px; height: 140px; width: 306px;
        }
        .silex-id-1536082822401-0 {top: 40px; left: 40px; height: 133px; width: 500px;
        }
        .silex-id-1536084915451-2 {top: 180px; left: 110px; height: 20px; width: 215px;
        }
        .silex-id-1536084943830-3 {top: 180px; left: 330px; height: 1.4em; width: 100px;
        }
        .silex-id-1536085053943-5 {top: 220px; left: 110px; height: 20px; width: 180px;
        }
        .silex-id-1536085111627-6 {top: 220px; left: 330px; height: 1.4em; width: 100px;
        }
        .silex-id-1536085227766-8 {top: 260px; left: 110px; height: 20px; width: 180px;
        }
        .silex-id-1536085377743-9 {top: 260px; left: 330px; height: 1.4em; width: 100px;
        }
        .silex-id-1536085428524-10 {top: 300px; left: 110px; height: 20px; width: 180px;
        }
        .silex-id-1536085476313-11 {top: 300px; left: 330px; height: 1.4em; width: 100px;
        }


/*Custom Styles*/
body {
        background-color: #352B66 !important;
}
.background-initial {
        border-radius: 5% !important;
        width: 70%;
}

.CTATTextInput {
        border-radius: 2% !important;
        /*background-color: #FCFCFC !important;*/
}

#problem-statement {
        left: 23%;
        top: 14px;
} 

#weight-in-pounds-prompt, #weight-in-kg-prompt, #drug-mass-in-mg-prompt, #drug-volume-prompt {
        left: 33%;
}
#weight-in-pounds-input, #weight-in-kg-input, #drug-mass-in-mg-input, #drug-volume-input {
        left: 58%;
}

#hint-box {
        left: 15%;
}
#skill-window {
        position: absolute;
        top: 69%;
        left: 55%;
        width: 300px;
}
