<div class="pictureAndExplanation">
	<div class="rowWrapper">
		<!-- Optional image on the left -->
		<div class="imgWrapper" *ngIf="img">
			<h3 *ngIf="title && screenIsSmall" class="title">{{title}}</h3>
			<img src="./assets/{{img}}.PNG">
			<a href="{{link}}" target="_blank" *ngIf="link" class="imageLink"></a>
		</div>

		<!-- Optional text on the right (up to 2 paragraphs) -->
		<div class="textWrapper" *ngIf="text">
			<h3 *ngIf="title && !screenIsSmall" class="title">{{title}}</h3>
			<app-highlighted-paragraph class="paragraphText" [text]="paragraph1">
			</app-highlighted-paragraph>
			<p class="paragraphText" *ngIf="text2">{{text2}}</p>
		</div>
	</div>
	<!-- Large screen footer -->
	<div *ngIf="!screenIsSmall" class="rowWrapper footer">
		<p *ngIf="caption" class="caption">{{caption}}</p>
		<span></span>
	</div>
</div>