.pictureAndExplanation {
	display: block;
	position: relative;
}

/*Title*/
.rowWrapper {
	display: flex;
	position: relative;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;	
}
	.rowWrapper h3 {
		display: inline-block;
		position: relative;
		text-align: center;
		width: 35%;
		order: 1;
	}

	.rowWrapper span {
		display: inline-block;
		position: relative;
		width: 35%;
		order: 2;
	}

	.rowWrapper p {
		display: inline-block;
		position: relative;
		width: 35%;
		order: 1;
	}

/*Middle Row*/
	.imgWrapper {
		display: inline-block;
		position: relative;
		width: 35%;
		order: 1;
	}
		img {
			display: inline-block;
			position: relative;
			width: 100%;
			border-radius: 5%;
		}
		.imageLink {
			display: inline-block;
			position: absolute;
			height: 100%;
			width: 100%;
			margin: 0px;
			left: 0%;
			bottom: 0%;
			border-radius: 5%;
			padding: 2px;
			/*opacity: .85;*/
		}

	.textWrapper {
		display: inline-block;
		position: relative;
		width: 35%;
		order: 2;	
	}

		.rowWrapper .textWrapper .paragraphText {
			display: block;
			position: relative;
			font-size: 1.15em;
			width: 100%;
		}

/*Footer*/
.footer {
	margin-bottom: 2%;
}
	.caption {
		text-align: center;
	}

/*Small screens only*/
@media screen and (max-width: 1000px) {
	.rowWrapper {
		display: block;
	}
	.imgWrapper, .textWrapper {
		display: block !important;
		width: 60% !important;
		margin-left: 20%;
	}
	.titleWrapper, .footer {
		/*width: 100%;*/
		text-align: center !important;
	}
	h3 {
		text-align: center;
	}
	span {
		display: none !important;
	}
	.smallScreenFooter {
		text-align: left;
		width: 60% !important;
		margin-left: 20%;
	}
/*	.smallScreenFooter a {
		margin-left: -10px;
	}*/
}