<div id="cuttleOverviewContainer">
	
	<h2>Cuttle</h2>
	<p id="summary">I want to share my favorite card game with the world by creating a platform for beginners to learn against AI before trying their luck against other players.</p>

	<div id="projectRow">
		<div class="projectEntry" id="entry0">
			<h3>CuttleBot</h3>
			<div class="imgWrapper">
				<img src="./assets/cuttle bot.PNG">
				<a routerLink="/cuttleBot"></a>
			</div>
			<p>Teaching beginners with Educational AI using mixed-initiative feedback & move-reversibility</p>
			<p>Built in Angular 6</p>
		</div>
		<div class="projectEntry" id="entry1">
			<h3>CuttleML</h3>
			<div class="imgWrapper">
				<img src="./assets/cuttle ml.PNG">
				<a routerLink="/cuttleML"></a>
			</div>
			<p>Improving CuttleBot's decision making with cutting-edge machine learning techniques</p>
			<p>Built in python with pandas and sklearn</p>
		</div>
		<div class="projectEntry" id="entry2">
			<h3>CuttleArena</h3>
			<div class="imgWrapper">
				<img src="./assets/cuttle arena.PNG">
				<a routerLink="/cuttleArena"></a>
			</div>
			<p>Connecting advanced players around the world with full-stack web-development</p>
			<p>Built in node.js with sails.js and AngularJS</p>
		</div>

	</div> <!-- End project row -->
</div> <!-- End #cuttleOverviewContainer -->