<div id="cuttleBotContainer">
	<div class="imgWrapper">
		<h3>Cuttle Bot</h3>
		<img src="./assets/cuttle bot.PNG">
		<a href="https://github.com/Human-AI-Interaction/cuttle-bot" target="_blank" [ngStyle]="{'visibility': imageLinkVisibility}"></a>
	</div>

	<div class="problemSolutionWrapper" id="problemAndSolution">
		<p class="problemStatement">How can complex strategy games be taught? How can tools designed to help beginners approach complex games balance the learner's need to master the rules against their need to develop a sense of strategy?</p>

		<p class="problemStatement">Cuttle Bot allows players to practice the world's greatest card game against an educational AI that teaches them the rules and how to approach the game's strategy. </p>
	</div>

	<div class="imgWrapper" id="kg-expansion-wrapper">
		<img src="./assets/cuttle bot - could have won.PNG">
		<a href="https://github.com/Human-AI-Interaction/cuttle-bot" target="_blank" [ngStyle]="{'visibility': imageLinkVisibility}"></a>
	</div>


	<div class="problemSolutionWrapper" id="details">
		<p class="problemStatement">Cuttle Bot is a web application built in Angular 6 that implements a customized version of the MiniMax algorithm to make its strategic decisions. Players can use the reverse button in the upper-left to undo their move(s) and see how the game plays out when they make different decisions. </p>

		<p class="problemStatement">CuttleBot provides mixed initiative, just-in-time feedback to detect when players fail to win or avoid a preventable loss, and nonjudgementally alerts players of the opportunity for a better move. Players can hover over the cards in their hands to see what they do.</p>
	</div>
	<p id="demoLinkText" [ngStyle]="{'visibility': imageLinkVisibility}">Download the source code<a target="_blank" href="https://github.com/Human-AI-Interaction/cuttle-bot">here.</a>Refresh the page to start a new game. Click a card, then click where you want to place it to make a move. Full rule set can be found <a href="https://www.pagat.com/combat/cuttle.html">here.</a></p>
	<!-- <p id="noDemoText" [ngStyle]="{'visibility': smallScreenTextVisibility}">You must use a larger screen to try a demo; sorry!</p> -->
</div>