

        .silex-id-1543638612919-2 {top: 20px; left: 20px; height: 20px; width: 320px;
        }
        .silex-id-1543638944029-8 {top: 120px; left: 20px; height: 100px; width: 200px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .body-initial {background-color: rgb(234, 255, 246);
        }
        .silex-id-1543640275898-14 {top: 440px; left: 20px; height: 20px; width: 300px;
        }
        .silex-id-1543640353895-15 {top: 480px; left: 20px; height: 1.4em; width: 100px;
        }
        .silex-id-1543640499041-16 {top: 520px; left: 20px; height: 140px; width: 280px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .background-initial {background-color: rgb(224, 248, 255); top: 5px; left: 120px; width: 1220px; height: 755px;
        }
        .silex-id-1543785415634-33 {top: 140px; left: 760px; height: 200px; width: 420px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1543786282991-45 {top: 560px; left: 960px; height: 80px; width: 240px;
        }
        .silex-id-1543786311792-46 {top: 660px; left: 960px; height: 70px; width: 240px;
        }
        .silex-id-1543786351049-48 {top: 560px; left: 760px; height: 160px; width: 160px;
        }
        .silex-id-1543786793124-53 {top: 60px; left: 20px; height: 20px; width: 80px;
        }
        .silex-id-1543786813117-54 {top: 60px; left: 120px; height: 20px; width: 40px;
        }
        .silex-id-1543786819272-55 {top: 100px; left: 120px; height: 20px; width: 40px;
        }
        .silex-id-1543786839661-56 {top: 60px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1543786858536-57 {top: 60px; left: 300px; height: 20px; width: 40px;
        }
        .silex-id-1543786868263-58 {top: 100px; left: 300px; height: 20px; width: 40px;
        }
        .silex-id-1543638954398-9 {top: 180px; left: 20px; height: 60px; width: 300px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1543640062711-13 {top: 280px; left: 20px; height: 120px; width: 300px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1543770509038-2 {top: 520px; left: 20px; height: 200px; width: 300px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1543787006109-60 {top: 520px; left: 20px; height: 200px; width: 300px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1543786574170-51 {top: 520px; left: 660px; height: 20px; width: 40px;
        }
        .silex-id-1543786596681-52 {top: 560px; left: 660px; height: 20px; width: 40px;
        }
        .silex-id-1543771448796-15 {top: 480px; left: 380px; height: 20px; width: 220px;
        }
        .silex-id-1543771822630-24 {top: 520px; left: 380px; height: 20px; width: 80px;
        }
        .silex-id-1543786544428-49 {top: 520px; left: 480px; height: 20px; width: 40px;
        }
        .silex-id-1543786554949-50 {top: 560px; left: 480px; height: 20px; width: 40px;
        }
        .silex-id-1543771874043-25 {top: 520px; left: 560px; height: 20px; width: 80px;
        }
        .silex-id-1543771222738-10 {top: 60px; left: 460px; height: 60px; width: 240px;
        }
        .silex-id-1543771231805-11 {top: 160px; left: 460px; height: 60px; width: 240px;
        }
        .silex-id-1543771237788-12 {top: 260px; left: 460px; height: 60px; width: 240px;
        }
        .silex-id-1543771243731-13 {top: 360px; left: 460px; height: 60px; width: 240px;
        }
        .silex-id-1543770919380-3 {top: 20px; left: 460px; height: 20px; width: 200px;
        }
        .silex-id-1543785234971-32 {top: 20px; left: 780px; height: 60px; width: 200px; font-family: Arial, Helvetica, sans-serif; padding: 10px;
        }
        .silex-id-1543786014851-40 {top: 140px; left: 1140px; height: 40px; width: 40px;
        }
        .silex-id-1543785978640-38 {top: 140px; left: 1000px; height: 20px; width: 120px;
        }
        .silex-id-1543785914454-36 {top: 140px; left: 940px; height: 40px; width: 40px;
        }
        .silex-id-1543785893974-35 {top: 140px; left: 780px; height: 20px; width: 160px;
        }
        .silex-id-1543786042055-42 {top: 200px; left: 840px; height: 40px; width: 340px;
        }
        .silex-id-1543786030960-41 {top: 200px; left: 780px; height: 20px; width: 20px;
        }
        .silex-id-1543786093816-44 {top: 260px; left: 840px; height: 40px; width: 340px;
        }
        .silex-id-1543786084645-43 {top: 260px; left: 780px; height: 20px; width: 20px;
        }
        .silex-id-1543638575225-0 {top: 400px; left: 760px; height: 160px; width: 420px;
        }
        .silex-id-1543769659216-0 {top: 180px; left: 20px; height: 80px; width: 320px;
        }
        .silex-id-1543787694180-62 {top: 100px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1543786958460-59 {top: 480px; left: 20px; height: 60px; width: 300px;
        }
        .silex-id-1543770986587-6 {top: 180px; left: 410px; height: 20px; width: 10px;
        }
        .silex-id-1543770971585-4 {top: 80px; left: 410px; height: 20px; width: 10px;
        }
        .silex-id-1543788075919-0 {top: 120px; left: 120px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1543788181868-1 {top: 140px; left: 140px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1543771158099-8 {top: 380px; left: 410px; height: 20px; width: 10px;
        }
        .silex-id-1543771151371-7 {top: 280px; left: 410px; height: 20px; width: 10px;
        }
        .silex-id-1543787446480-61 {top: 20px; left: 780px; height: 80px; width: 400px;
        }
    

#fractionBar1Label {
    display: block;
    position: absolute;
    top: 585px;
    left: 800px;
    height: 80px;
    width: 240px;
}

#fractionBar2Label {
    display: block;
    position: absolute;
    top: 685px;
    left: 800px;
    height: 80px;
    width: 240px;
}

#step_5_label3 {
    top: 315px;
    left: 840px;
    height: 40px;
    width: 340px;
    position: absolute;
}

#step_5_option3 {
    top: 315px;
    left: 780px;
    height: 20px;
    width: 20px;
    position: absolute;

}

#restart {
    margin-left: 2%;
    text-decoration: none;
    padding: 5px 10px;
    color: #607D8B;
}
#restart:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
