<div id="portfolioContainer">
	<!-- Row 1 -->
	<div class="portfolioRow">	
		<app-portfolio-entry
		[title]="'Cognitive Tutor - DoseTutor'"
		[txt]="'Dynamically increases scaffolding by breaking steps into substeps when students struggle'"
		[txt2]="'Built using CTAT (Cognitive Tutoring Authoring Tools)'"
		[linkText]="'See more'"
		[detailsLink]="'/doseTutor'"
		></app-portfolio-entry>
		<app-portfolio-entry
		[title]="'Cognitive Tutor - FracTutor'"
		[txt]="'Adapts to student skill levels by providing worked examples with explanation, or decision-making practice, based on persistent model of student skill'"
		[txt2]="'Built using CTAT'"
		[linkText]="'More details'"
		[detailsLink]="'/fracTutor'"
		></app-portfolio-entry>
	</div>

	<!-- Row 2 -->
	<div class="portfolioRow">
		<app-portfolio-entry
		[title]="'Course Design - Vascular Surgery'"
		[txt]="'Hour-long module used at University of Pittsburgh Medical Center to teach plastic surgery residents the fundamental concepts of vascular surgery'"
		[txt2]="'Course is hosted on the Open Learning Initiative'"
		[linkText]="'Details'"
		[detailsLink]="'/vascular-surgery'"
		></app-portfolio-entry>
		<app-portfolio-entry
		[title]="'Course Design - Intro Computer Science'"
		[txt]="'Week-long course to introduce high school novices to  CS through the lens of developing their own computer game'"
		[txt2]="'Students write python code using the Processing framework'"
		[linkText]="'More'"
		[detailsLink]="'/intro-cs'"
		></app-portfolio-entry>
	</div>

	<!-- Row 3 -->
	<div class="portfolioRow">
		<app-portfolio-entry 
		[title]="'Cuttle Bot'"
		[txt]="'Educational AI implements mixed-initiative feedback and move-reversibility to teach a complex card game'"
		[txt2]="'Built in Angular 6'"
		[linkText]="'Learn more'"
		[detailsLink]="'/cuttleBot'">
		</app-portfolio-entry>
		<app-portfolio-entry
		[title]="'Proof Crafter'"
		[txt]="'An exploritory set-theory game that teaches students to create simple proofs about the relations between sets'"
		[txt2]="'Built in Unity'"
		[linkText]="'Details'"
		[detailsLink]="'/proofCrafter'"
		></app-portfolio-entry>
	</div>
</div>