<div id="portfolioContainer">
	<app-portfolio-entry
	[title]="'Cogntive Tutor - DoseTutor'"
	[txt]="'Dynamically increases scaffolding by breaking steps into substeps when students struggle.'"
	[txt2]="'Built using CTAT (Cognitive Tutoring Authoring Tools)'"
	[linkText]="'See more'"
	[detailsLink]="'/doseTutor'"
	>

	</app-portfolio-entry>

	<app-portfolio-entry
	[title]="'Cognitive Tutor - FracTutor'"
	[txt]="'Adapts to student skill levels by providing worked examples with explanation, or decision-making practice'"
	[txt2]="'Built using CTAT'"
	[linkText]="'More details'"
	[detailsLink]="'/fracTutor'"
	></app-portfolio-entry>

	<app-portfolio-entry 
	[title]="'Cuttle Bot'"
	[txt]="'Educational AI implements mixed-initiative feedback and move-reversability to teach card game.'"
	[txt2]="'Built in Angular 6'"
	[linkText]="'Learn more'"
	[detailsLink]="'/cuttleBot'">
	</app-portfolio-entry>


	<app-portfolio-entry
	[title]="'Rune Crafter'"
	[txt]="'An exploritory set-theory game that teaches students to create simple proofs about the relations between sets, elements, and operations'"
	[txt2]="'Built in angularJS'"
	></app-portfolio-entry>
</div>