#portfolioContainer {
	display: block;
	position: relative;
}
.portfolioRow {
	display: block;
	position: relative;
	width: 100%;
}
app-portfolio-entry {
	height: 100%;
	position: relative;
	display: inline-block;
	width: 35%;
	/*height: 20%;*/
	margin-left: 10%;
	/*border: 3px solid black;*/
	padding: 5px;
	vertical-align: top;
}

@media screen and (max-width: 600px) {
	app-portfolio-entry {
		display: block;
		width: 80%;
		left: 10%;
		margin-left: 0%;
	}
}