<article id="assistmentsContainer">
  <app-section-header
  title="ASSISTments"
  startDate="2018"
  endDate="Present"
  myRole="Director of Engineering"
  description="The ASSISTments Foundation is an ed tech nonprofit that empowers math educators with data-driven formative assessment tools so they can best help the students who need it most."
  >
  </app-section-header>

  <app-picture-and-explanation
  title="E-TRIALS"
  img="portfolio/cuttle/three-dialog"
  text="E-TRIALS is a revolutionary educational research platform that is democratizing learning science by enabling researchers to conduct large scale randomized controlled trials at no cost and without needing to write code. It is currently powering over 15 studies with more than 500 participants each. It’s built using Vue, Vuetify, Java Spring, and Maven"
  link="https://etrials.assistments.org"
  >
  </app-picture-and-explanation>
</article>
