<article id="assistmentsContainer">
  <app-section-header
  title="ASSISTments"
  startDate="2018"
  endDate="Present"
  myRole="Director of Engineering"
  description="The ASSISTments Foundation is an ed tech nonprofit that empowers math educators with data-driven formative assessment tools so they can best help the students who need it most."
  >
  </app-section-header>

  <app-picture-and-explanation
  title="E-TRIALS"
  img="portfolio/assistments/E-TRIALS"
  [text]="[{str: 'E-TRIALS', url: 'https://etrials.assistments.org'}, {str: 'is a revolutionary educational research platform that is democratizing learning science by enabling researchers to conduct large scale randomized controlled trials at no cost and without needing to write code. It is currently powering over 15 studies with more than 500 participants each. It\'s built using Vue, Vuetify, Java Spring, and Maven.'}]"
  text2="My Role: architected the api and database schema, designed the frontend's component and data architecture, initialized the server and client codebases, and lead a team of 5 in full stack development of the MVP. Currently leading the ongoing development as new experimental paradigms are added to the system."
  link="https://etrials.assistments.org"
  >
  </app-picture-and-explanation>

  <app-picture-and-explanation
    title="Teacher Experience"
    img="portfolio/assistments/Teacher Experience - Report"
    text="Our teacher experience makes it easy to find and curate math work to assign, and to quickly evaluate assessment data to drive lesson planning and class time by answering questions like 'which students are struggling most and on what material?'"
    text2="My Role: Created the Vuex store architecture (flux pattern), built several pages and key features of the MVP (e.g. search, viewing users' curated content, interactive student data report), and lead the team's agile process (task definition, refinement, assignment, oversight, and troubleshooting). Currently managing ongoing feature development as we improve the teacher experience."
    link="https://app.assistments.org"
  >
  </app-picture-and-explanation>

  <app-picture-and-explanation
  title="Student Experience"
  img="portfolio/assistments/Student Workbench - Multi Cloze"
  text="Our Student Experience provides students the opportunity to practice their skills in a low stakes formative environment, supported by adaptive interventions such as individualized hints, and “redo” problems to retry the problems students have difficulty with.'"
  text2="My Role: Designed integration and e2e testing frameworks with Cypress running in github actions and AWS CodePipeline, created stateful and responsive navigation, created integration with the experiment system powered by E-TRIALS, and managed the process of defining, refining, and assigning work throughout development of the MPV. Currently managing ongoing feature development as we continue to improve the student experience."
  link="https://student.assistments.org/preview/problemSet/PSBE34W"
>
</app-picture-and-explanation>
</article>
