.image-wrapper {
  margin-top: 40px;
}

.image {
  display: block;
  position: relative;
  width: 100%;
  transition: transform .3s ease-in-out;
}

.image-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  background-color: #FFF; /* Color of the border */
  transition: transform 0.3s ease-in-out; /* Smooth transition of width */
}

.image-wrapper:hover::after {
  transform: translateY(32px);
}

.image:hover {
  transform: translateX(32px);
}
