.section-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  row-gap: 64px;
  margin-bottom: 64px;
}

.text-column {
  width: calc(50% - 64px);
  margin: 0;
}

.text-column h2 {
  margin-top: 0;
  margin-bottom: 8px;
}
