@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/assets/fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body, app-root {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
}

html {
  color: #FFF;
  background-repeat: no-repeat;
  background-color: #000;
  z-index: -1;
  padding: none;
  margin: none;
}

body {
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;
}

.fixedHeader {
  color: rgb(47, 84, 150) !important;
}


#header {
  text-align: center;
  font-family: 'Lato', sans-serif !important;
  margin-bottom: 0%;
  font-size: 4em;
  color: rgb(47, 84, 150);
}
#subheader {
  text-align: center;
  font-family: 'Lato', sans-serif !important;
  font-size: 2.5em;
  margin-top: .25%;
  margin-bottom: 1.5%;
  color: rgb(47, 84, 150);
}
a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
}
a:visited, a:link {
  color: #607D8B;
}
a:hover {
  color: #039be5 !important;
  background-color: #CFD8DC;
}
.activeLink {
  color: #222222 !important;
  background-color: #CFD8DC;
}

mat-slide-toggle label .mat-slide-toggle-bar-no-side-margin {
  background-color: rgba(176,190,197,.54) !important;
}
/*Small Screens only*/
@media screen and (max-width: 600px) {
  #header {
    font-size: 2.15em;
  }
  #subheader {
    font-size: 1.75em;
    margin-bottom: 5%;
  }
  h2 {
    font-size: 1.25em;
  }
}
