* {
  font-family: Bookman  Old Style, sans-serif;
}

html, body, app-root {
  height: 100%;
}

h1 {
  /*color: #369;*/
  color: #E5E5E5;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 250%;
}
h2, h3 {
  /*color: #444;*/
  color: #E5E5E5;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-weight: lighter;
  /*font-size: 100%;*/
}
h3 {
  font-size: 1.5em;
}
#header {
  text-align: center;
  margin-bottom: 0%;
  font-size: 4em;
}
#subheader {
  text-align: center;
  font-size: 2.5em;
  margin-top: .25%;
  margin-bottom: 1.5%;
}
a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  /*background-color: #eee;*/
  /*border-radius: 4px;*/
}
a:visited, a:link {
  color: #607D8B;
}
a:hover {
  color: #039be5 !important;
  background-color: #CFD8DC;
}
/*a.active {
  color: #039be5;
}*/
.activeLink {
  color: #222222 !important;
  background-color: #CFD8DC;
}

html {
  /*background: radial-gradient(circle, #FFC14C, #5252D6);*/
  color: #E5E5E5;
  /*background-image: url("./assets/dance.jpg");*/
  background-repeat: no-repeat;
  background-color: #0E0826;
  z-index: -1;
  padding: none;
  margin: none;
  /*position: fixed;*/
  /*background-size: 100%, 100%;*/
}

body {
  /*background-color: #000;*/
  /*opacity: .5;*/
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*app-navbar {
  position: fixed;
  width: 30%;
  z-index: 3;
  background-color: #2E2453;
}*/

/*Small Screens only*/
@media screen and (max-width: 600px) {
  #header {
    font-size: 2.15em;
  }
  #subheader {
    font-size: 1.75em;
    margin-bottom: 5%;
  }
  h2 {
    font-size: 1.25em;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
