h3 {
	text-align: center;
	margin-top: -2%;
}
.imgWrapper {
	display: inline-block;
	position: relative;
	width: 35%;
	margin-left: 10%;
	margin-bottom: 2%;
	/*margin-top: 2%;*/
}
img {
	display: inline-block;
	position: relative;
	width: 100%;
	border-radius: 5%;
}

.imgWrapper a {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	left: 0%;
	margin: 0px;
	padding: 0px;
}

.problemSolutionWrapper {
	display: inline-block;
	position: relative;
	width: 35%;
	/*vertical-align: text-top;*/
}
#problemAndSolution {
	/*top: -10%;*/
	bottom: 30px;
	margin-top: 0%;
	/*height: 34%;*/
}
.problemStatement {
	display: inline-block;
	position: relative;
	font-size: 1.15em;
	width: 100%;
	margin-left: 10%;
	/*vertical-align: middle;*/
}

#kg-expansion-wrapper {
	margin-top: 2%;
}

#details {
	margin-bottom: 2%;
	bottom: 50px;
}

#results {
	bottom: 30px;
	margin-bottom: 2%;
}

.imgWrapper a:hover {
  /*color: #039be5;*/
  /*background-color: #CFD8DC;*/
  opacity: 0;
}

#demoLinkText {
	text-align: center;
	margin-bottom: 2%;
}

/*Small screens only*/
@media screen and (max-width: 1000px) {
	.imgWrapper {
		display: block !important;
		width: 60% !important;
		margin-left: 20% !important;
		margin-bottom: 3% !important;
	}
	.problemSolutionWrapper {
		text-align: center !important;
		width: 60% !important;
		margin-left: 20% !important
	}
	#problemAndSolution {
		bottom: 0px !important;
	}
	.problemStatement {
		margin-left: 0% !important;
		text-align: left;
	}
	#details {
		bottom: 0px !important;
	}
	#results {
		bottom: 0px;
	}

}