<div id="cuttleBotContainer">
	<div class="imgWrapper">
		<h3>Intro CompSci in Python with Processing</h3>
		<img src="./assets/intro-cs.PNG">
		<!-- <a href="https://github.com/Human-AI-Interaction/cuttle-bot" target="_blank" [ngStyle]="{'visibility': imageLinkVisibility}"></a> -->
	</div>

	<div class="problemSolutionWrapper" id="problemAndSolution">
		<p class="problemStatement">The seemingly impenetrable abstractness of Computer Science is perhaps the greatest obstacle to fostering interest in the discipline. Students often have difficulty imagining what they could create, which discourages them from engaging. Relatedly, many students of Computer Science have difficulty understanding how the concepts that they learn from lectures can be used to create various effects. </p>

		<p class="problemStatement">I designed a 10-hour introductory course to ground CS concepts in the experience of making a computer game. The course uses authentic whole-task contexts to motivate students to see CS tools as empowering them to create things that interest them.</p>
	</div>

	<div class="imgWrapper" id="kg-expansion-wrapper">
		<img src="./assets/intro-cs-scope.PNG">
		<!-- <a href="https://github.com/Human-AI-Interaction/cuttle-bot" target="_blank" [ngStyle]="{'visibility': imageLinkVisibility}"></a> -->
	</div>


	<div class="problemSolutionWrapper" id="details">
		<p class="problemStatement">The course emphasizes helping students identify practical applications of the core material in creating various animated effects. </p>

		<p class="problemStatement">Each day, the students review all the previously learned material by creating a new program that uses all the previously learned tools. Then students learn a new concept and apply it first in an isolated context, and then in the context of their computer game.</p>
	</div>

	<div class="imgWrapper" id="dataWrapper">
		<img src="./assets/course design - intro computer science.PNG">
		<a href="./assets/Final_Poster.pdf" target="_blank"></a>
	</div>
	<div class="problemSolutionWrapper" id="results">
		<p class="problemStatement">The course was rigorously aligned through an iterative process of backwards design. Following the insights of Learning Science, the objectives were first defined by specifying state CS standards using the ABCD method. Varied assessment tasks and rubrics were designed next to measure students' progress towards the goals.</p>
		<p class="problemStatement">Finally, instruction was designed to empower students to meet the requirements of the assessments. At every step of the instructional design process throughout the semester-long project, the entire design was workshopped and vetted to align the instruction and assessment with the course goals.</p>
	</div>
	<p id="demoLinkText"><a target="_blank" href="./assets/EGIA Final Project.pdf">Read the full report</a></p>
	<!-- <p id="noDemoText" [ngStyle]="{'visibility': smallScreenTextVisibility}">You must use a larger screen to try a demo; sorry!</p> -->
</div>