<div id="cuttleArenaContainer">
	
	<app-picture-and-explanation 
		title="CuttleArena" 
		img="cuttle arena"
		link="https://cuttle-v2.herokuapp.com"
		caption="Click to play Cuttle PvP"
		smallScreenCaption="For source code"
		text="CuttleArena is the only website that lets you play the world's greatest standard-deck card game against your friends all across the globe."
		text2="CuttleArena is a full-stack node.js web app, built with a Sails.js backend and AngularJS frontend."
	></app-picture-and-explanation>
</div> <!-- End component container -->